@import "~bulma/sass/utilities/_all"

$font: 'Noto Sans JP', Arial, Helvetica, "Hiragino Kaku Gothic ProN", "Meiryo", "MS PGothic", sans-serif

$size-1: 1.25rem
$size-2: 1.125rem
$size-3: 1rem
$size-4: .875rem
$size-5: .75rem

$white: #FFFFFF
$black: #351C02
$boundary_black: rgba(0, 0, 0, .16)
$boundary_white: #F2E9E0
$gray: #6F6051
$white_gray: #EFEFEF
$primary: #C08E06
$secondary: #FF7E06
